/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

div{
    margin: 20px 0;
    
}

/*Button types*/

.btn1{

    background-color: white;
    color: #28a5a6;
    border: 1px solid #28a5a6;
    border-radius: 10px;
    width: 100px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.btn2{

    background-color:#00d1b2;
    color: white;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
}

.btn3{
    background-color: #2b78e4;
    color: white;
    padding: 8px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    box-shadow: 5px 5px 0 black;
}

.btn1:hover{
    background-color: #28a5a6;
    color: white;
    cursor: pointer;
}

.btn2:hover{
    cursor: pointer;
    background-color:#0a9681;
}

.btn3:hover{
    background-color: #5394ee;
    cursor: pointer;
}

/* Flexible Columns*/

.row{

    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
    }
    
    .col{
        flex: 1;
        margin: 0 5px;
        background-color: darkturquoise;
        padding: 10px;
        justify-content: space-evenly;
    
    }
    
    .col-2{
        flex:2;
        margin: 0 5px;
        background-color: darkturquoise;
        padding: 10px;
    
    }
    
    .col-3{
        flex:3;
        margin: 0 5px;
        background-color: darkturquoise;
        padding: 10px;
    
    }

    /*NavBar*/

    .nav{
        display: flex;
        flex-direction: row;
        background-color: gray;
        color: white;
        justify-content: space-between;
        padding: 15px 0 15px 20px;
    }
    
    .nav-links{
        display: flex;
        flex-direction: row;
    }
    
    .nav-links > li{
        list-style: none;
        margin: 0 20px 0 0;
        align-self: center;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
    
    .btn{
        background-color: #17a2b8;
        color: white;
        padding: 8px 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        border: 2px solid black;
        box-shadow: 5px 5px 0 black;
    }